
#picture-paragraph {
    text-align: center;
    color: white;
}

#italic-paragraph {
    text-align: center;
    font-style: italic;
}
/* Applying filter on .background-image was applying the filters to the text on top
   To fix this, applied .filter-background to the columns of the background image
   and then used backdrop-filter */

#row-1 {
    margin-top: 80px;
    margin-bottom: 100px;
}

#row-2 {
    margin-bottom: 100px;
}

#row-3 h2{
    margin-top: 80px;
}

#row-4 h2{
    margin-top: 30px;
}

.filter-background {
    backdrop-filter: brightness(70%) grayscale(10%) contrast(80%);
}

.row-3-text {
    text-align: left;
}

.row-3-button {
    background-color: #007FFF;
    width: 120px;
    height: 45px;
    margin-right: auto;
    text-align: center;
    padding-top: .5em;
    border-radius: 3px;
    color: white;
}

.row-4-text {
    text-align: right;
}

.row-4-button {
    background-color: #007FFF;
    width: 120px;
    height: 45px;
    margin-left: auto;
    text-align: center;
    padding-top: .5em;
    border-radius: 3px;
    color: white;
}

.logo {
    height: 50px;
    width: 125px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-nav {
    position: relative;
}

.container {
    /* border: solid; */
}

.container-fluid {
    padding: 0;
    margin: 0;    
}

.background-image {
    background-image: url(https://2577343.fs1.hubspotusercontent-na1.net/hub/2577343/hubfs/new%20website%20hero%20background%20image%20%281%29.png?width=2880&name=new%20website%20hero%20background%20image%20%281%29.png);
    background-position: center;
    height: 800px;
}

.button {
    background-color: #007FFF;
    width: 120px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: .5em;
    border-radius: 3px;
    color: white;
}

.button:hover {
    filter: brightness(110%)
}

.row {
    
}

nav {
    position: fixed;
}

main {
    position: relative;
    top: 100px;
}

h1 {
    text-align: center;
    margin-top: 300px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

h2 {
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
    /* backdrop-filter: brightness(70%) grayscale(10%) contrast(80%); */
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}
