
#picture-paragraph {
    text-align: center;
    color: white;
}

#italic-paragraph {
    text-align: center;
    font-style: italic;
}
/* Applying filter on .background-image was applying the filters to the text on top
   To fix this, applied .filter-background to the columns of the background image
   and then used backdrop-filter */

#container-row-1 {
    margin-top: 80px;
    margin-bottom: 100px;
}

#container-row-2 {
    margin-bottom: 100px;
}

#container-row-3 h2{
    margin-top: 80px;
}

#container-row-4 h2{
    margin-top: 30px;
}

.background-image-2 h2 {
    margin-top: 50px;
}

.filter-background {
    backdrop-filter: brightness(70%) grayscale(10%) contrast(80%);
}

/* .row-3-text {
    text-align: left;
} */

.row-3-button {
    background-color: #007FFF;
    width: 120px;
    height: 45px;
    margin-right: auto;
    text-align: center;
    padding-top: .5em;
    border-radius: 3px;
    color: white;
}

.row-4-text {
    text-align: right;
}

.row-4-button {
    background-color: #007FFF;
    width: 120px;
    height: 45px;
    margin-left: auto;
    text-align: center;
    padding-top: .5em;
    border-radius: 3px;
    color: white;
}

.logo {
    height: 50px;
    width: 125px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-nav {
    position: relative;
}

.container {
    /* border: solid; */
}

.container-fluid {
    margin: 0;    
}

.background-image {
    background-image: url(https://2577343.fs1.hubspotusercontent-na1.net/hub/2577343/hubfs/new%20website%20hero%20background%20image%20%281%29.png?width=2880&name=new%20website%20hero%20background%20image%20%281%29.png);
    background-position: center;
    height: 800px;
}

.background-image-2 {
    background-image: url(https://2577343.fs1.hubspotusercontent-na1.net/hub/2577343/hubfs/Brand2Files/Untitled%20design%20%2829%29.png?width=2880&name=Untitled%20design%20%2829%29.png);
    background-position: center;
    height: 800px;
    background-repeat: no-repeat;
}

.button {
    background-color: #007FFF;
    width: 120px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: .5em;
    border-radius: 3px;
    color: white;
}

.button:hover {
    filter: brightness(110%)
}

.row {
    
}

.testimonial-text {
    margin-left: 40px;
    margin-right: 40px;
}

.testimonial-top-text {
    margin-top: 80px;
}

.testimonial-text-div {
    border: solid;  
    border-color: #E0E0E0; 
    border-width: .5px;
    /* box-shadow: 10px; */
}

.testimonial-picture {
    top: 55px;
    left: 40px;
    width: 30%;
    height: 30%;
    border: solid;
    border-color: #007FFF;
    border-radius: 50%;
}

.testimonial {
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 150px;
}

.left-text {
    text-align: left;
}

.about-heading {
    margin-top: 50px;
}

.blue-row {
    background-color: #007FFF;
}

.blue-row .col-md-5 {
    margin-top: 30px;
}

.blue-row h3, .blue-row p {
    color: white;
}

.blue-row .button {
    margin-top: 20px;
    border: solid;
    border-width: .5px;
    border-color: white;
}

nav {
    position: fixed;
}

main {
    position: relative;
    top: 100px;
}

h1 {
    text-align: center;
    margin-top: 300px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

h2 {
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
    /* backdrop-filter: brightness(70%) grayscale(10%) contrast(80%); */
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    margin-top: 50px;
}
